{% extends 'base.html' %}
{% block content %}
<main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
    <h2><b>Подтвердите удаление, процедура необратима</b></h2>
    <div class="row" style="display: flex; flex-direction: column;">
        <div class="col" style="padding: 5px;">
            <form action="{% url 'delete_snippet' snippet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" style="width: 250px;">Да</button>
            </form>
        </div>
        <div class="col" style="padding: 5px;">
            <form action="{% url 'snippetslist' %}">
                <button class="btn btn-warning" style="width: 250px;">Отмена</button>
            </form>
        </div>
    </div>
</div>
</main>

{% endblock %}